body {
    display:flex;
    flex-direction: column;
    max-height: 100%;
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    text-align: center;
    background-image: url(desk.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

input {
    margin: 1%;
    width: 100px
}

.inputs {
    display: flexbox;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;

}

.submitButton {
    text-align: right;
}


table,
th,
td {
    border: 2px double black;
    border-radius: 5px;
    width: 600px;
    height: 50px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: lightgray;
}

th {
    background-color: darkgray;
}

.totalSpent {
    text-align: right;
    text-decoration: underline;
    
}